.fixedBackground {
  background-image: url('/Fortnight/photo/fortnite-background-scaled.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
